body {
    background: linear-gradient(180deg, #4200FF 0%, #3600D1 100%) no-repeat;
    min-height: 100vh;
}

.main {
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.info {
    padding-top: 36px;
    display: flex;
    justify-content: end;
}

.info a {
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff
}

.container {
    text-align: center;
    width: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name h1 {
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-weight: 400;
    color: #fff;
    margin-top: 200px;
    font-size: 64px;
}

.tagline {
    margin-top: -40px;
}

.tagline h3 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
    color: #fff;
    margin-top: 20px;
    font-size: 40px;
}

.buttons {
    text-align: center;
    margin-top: 80px;
    
}

.btn {
    background-color: #fff;
    width: 170px;
    height: 55px;
    border-radius: 35px;
}

.student, .teacher {
    margin-top: 10%;
}

.student a, .teacher a {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #28009A
}

